@model ELECTION.Models.Vote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateVote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateVote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Electeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Electeur.ElecteurID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidat.CandidatID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BureauDeVote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BureauDeVote.BureauID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VoteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
